$white: rgba(255, 255, 255, 1);

$blue: rgba(10, 39, 86, 1);
$bright-blue: rgba(0, 125, 254, 1);
$transparent-blue: rgba(0, 128, 255, 0.7);

$grey: rgba(196, 196, 196, 1);

$red: rgba(251, 85, 85, 1);